In [112]:
import findspark
findspark.init('/home/ubuntu/spark-2.1.1-bin-hadoop2.7')
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('basics').getOrCreate()

from pyspark import SparkContext
from pyspark.sql.session import SparkSession
from pyspark.sql.functions import *

import pyspark.sql.functions as fn

import numpy as np
import pandas as pd
import warnings
import math
import matplotlib.pyplot as plt
warnings.filterwarnings('ignore') #  忽略弹出的warnings

In [113]:
data = spark.read.load('cs-training1.csv',format = "csv", header = "true")
data.show(3)

+---+----------------+------------------------------------+---+------------------------------------+-----------+-------------+-------------------------------+-----------------------+----------------------------+------------------------------------+------------------+
|_c0|SeriousDlqin2yrs|RevolvingUtilizationOfUnsecuredLines|age|NumberOfTime30-59DaysPastDueNotWorse|  DebtRatio|MonthlyIncome|NumberOfOpenCreditLinesAndLoans|NumberOfTimes90DaysLate|NumberRealEstateLoansOrLines|NumberOfTime60-89DaysPastDueNotWorse|NumberOfDependents|
+---+----------------+------------------------------------+---+------------------------------------+-----------+-------------+-------------------------------+-----------------------+----------------------------+------------------------------------+------------------+
|  1|               1|                         0.766126609| 45|                                   2|0.802982129|         9120|                             13|                      0|                           6|                                   0|                 2|
|  2|               0|                         0.957151019| 40|                                   0|0.121876201|         2600|                              4|                      0|                           0|                                   0|                 1|
|  3|               0|                          0.65818014| 38|                                   1|0.085113375|         3042|                              2|                      1|                           0|                                   0|                 0|
+---+----------------+------------------------------------+---+------------------------------------+-----------+-------------+-------------------------------+-----------------------+----------------------------+------------------------------------+------------------+
only showing top 3 rows

In [114]:
data.describe().show()

+-------+------------------+-------------------+------------------------------------+------------------+------------------------------------+------------------+------------------+-------------------------------+-----------------------+----------------------------+------------------------------------+------------------+
|summary|               _c0|   SeriousDlqin2yrs|RevolvingUtilizationOfUnsecuredLines|               age|NumberOfTime30-59DaysPastDueNotWorse|         DebtRatio|     MonthlyIncome|NumberOfOpenCreditLinesAndLoans|NumberOfTimes90DaysLate|NumberRealEstateLoansOrLines|NumberOfTime60-89DaysPastDueNotWorse|NumberOfDependents|
+-------+------------------+-------------------+------------------------------------+------------------+------------------------------------+------------------+------------------+-------------------------------+-----------------------+----------------------------+------------------------------------+------------------+
|  count|            150000|             150000|                              150000|            150000|                              150000|            150000|            120269|                         150000|                 150000|                      150000|                              150000|            146076|
|   mean|           75000.5|            0.06684|                    6.04843805466686|52.295206666666665|                  0.4210333333333333| 353.0050757638672| 6670.221237392844|                        8.45276|    0.26597333333333334|                     1.01824|                 0.24038666666666667|0.7572222678605657|
| stddev|43301.414526548666|0.24974553092872043|                  249.75537062543987|14.771865863100352|                   4.192781272018327|2037.8185231443636|14384.674215282083|              5.145950989643292|      4.169303787594438|          1.1297709848828545|                   4.155179420987195|1.1150860714871424|
|    min|                 1|                  0|                                   0|                 0|                                   0|                 0|                 0|                              0|                      0|                           0|                                   0|                 0|
|    max|             99999|                  1|                                 999|                99|                                  98|               999|              9999|                              9|                     98|                           9|                                  98|                 9|
+-------+------------------+-------------------+------------------------------------+------------------+------------------------------------+------------------+------------------+-------------------------------+-----------------------+----------------------------+------------------------------------+------------------+

In [115]:
data.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- SeriousDlqin2yrs: string (nullable = true)
 |-- RevolvingUtilizationOfUnsecuredLines: string (nullable = true)
 |-- age: string (nullable = true)
 |-- NumberOfTime30-59DaysPastDueNotWorse: string (nullable = true)
 |-- DebtRatio: string (nullable = true)
 |-- MonthlyIncome: string (nullable = true)
 |-- NumberOfOpenCreditLinesAndLoans: string (nullable = true)
 |-- NumberOfTimes90DaysLate: string (nullable = true)
 |-- NumberRealEstateLoansOrLines: string (nullable = true)
 |-- NumberOfTime60-89DaysPastDueNotWorse: string (nullable = true)
 |-- NumberOfDependents: string (nullable = true)

In [116]:
data.agg(*[(1-(fn.count(c) /fn.count('*'))).alias(c+'_missing') for c in data.columns]).show()

+-----------+------------------------+--------------------------------------------+-----------+--------------------------------------------+-----------------+---------------------+---------------------------------------+-------------------------------+------------------------------------+--------------------------------------------+--------------------------+
|_c0_missing|SeriousDlqin2yrs_missing|RevolvingUtilizationOfUnsecuredLines_missing|age_missing|NumberOfTime30-59DaysPastDueNotWorse_missing|DebtRatio_missing|MonthlyIncome_missing|NumberOfOpenCreditLinesAndLoans_missing|NumberOfTimes90DaysLate_missing|NumberRealEstateLoansOrLines_missing|NumberOfTime60-89DaysPastDueNotWorse_missing|NumberOfDependents_missing|
+-----------+------------------------+--------------------------------------------+-----------+--------------------------------------------+-----------------+---------------------+---------------------------------------+-------------------------------+------------------------------------+--------------------------------------------+--------------------------+
|        0.0|                     0.0|                                         0.0|        0.0|                                         0.0|              0.0|  0.19820666666666664|                                    0.0|                            0.0|                                 0.0|                                         0.0|       0.02615999999999996|
+-----------+------------------------+--------------------------------------------+-----------+--------------------------------------------+-----------------+---------------------+---------------------------------------+-------------------------------+------------------------------------+--------------------------------------------+--------------------------+

In [117]:
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [118]:
data_pt = data.toPandas()
data_pt

,_c0,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
0,1,1,0.766126609,45,2,0.802982129,9120,13,0,6,0,2
1,2,0,0.957151019,40,0,0.121876201,2600,4,0,0,0,1
2,3,0,0.65818014,38,1,0.085113375,3042,2,1,0,0,0
3,4,0,0.233809776,30,0,0.036049682,3300,5,0,0,0,0
4,5,0,0.9072394,49,1,0.024925695,63588,7,0,1,0,0
5,6,0,0.213178682,74,0,0.375606969,3500,3,0,1,0,1
6,7,0,0.305682465,57,0,5710,None,8,0,3,0,0
7,8,0,0.754463648,39,0,0.209940017,3500,8,0,0,0,0
8,9,0,0.116950644,27,0,46,None,2,0,0,0,None
9,10,0,0.189169052,57,0,0.606290901,23684,9,0,4,0,2
10,11,0,0.644225962,30,0,0.30947621,2500,5,0,0,0,0
11,12,0,0.01879812,51,0,0.53152876,6501,7,0,2,0,2
12,13,0,0.010351857,46,0,0.298354075,12454,13,0,2,0,2
13,14,1,0.964672555,40,3,0.382964747,13700,9,3,1,1,2
14,15,0,0.019656581,76,0,477,0,6,0,1,0,0
15,16,0,0.548458062,64,0,0.209891754,11362,7,0,1,0,2
16,17,0,0.061086118,78,0,2058,None,10,0,2,0,0
17,18,0,0.166284079,53,0,0.18827406,8800,7,0,0,0,0
18,19,0,0.221812771,43,0,0.527887839,3280,7,0,1,0,2
19,20,0,0.602794411,25,0,0.065868263,333,2,0,0,0,0
20,21,0,0.200923382,43,0,0.430046338,12300,10,0,2,0,0
21,22,1,0.025655677,38,0,0.475841386,3000,7,0,1,0,2
22,23,0,0.9999999,39,0,0.241103559,2500,4,0,0,0,0
23,24,0,0.075426584,32,0,0.085512189,7916,6,0,0,0,0
24,25,0,0.04656027,58,0,0.241621845,2416,9,0,1,0,0
25,26,1,0.392248482,50,0,1.595253368,4676,14,0,3,0,1
26,27,0,0.052436094,58,0,0.097672186,8333,22,0,1,0,0
27,28,0,0.034421473,69,0,0.042383047,2500,17,0,0,0,1
28,29,0,0.452515828,24,0,0.011761247,3400,1,0,0,0,0
29,30,0,0.392994586,58,2,0.436102527,5500,15,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
149970,149971,0,0.025449081,58,0,0.25385459,15500,7,0,2,0,2
149971,149972,0,0.058000533,83,0,0.013997201,5000,6,0,0,0,0
149972,149973,0,0.071273404,42,0,0.008638065,6945,3,0,0,0,1
149973,149974,0,1.026394721,44,0,0.494819124,5500,7,0,1,0,1
149974,149975,0,0.962721342,61,2,0.603479304,5000,11,0,1,0,0
149975,149976,0,0.022088398,58,0,2716,None,8,0,2,0,0
149976,149977,0,0.000627439,76,0,60,None,5,0,0,0,0
149977,149978,0,0.236449864,29,0,349,None,3,0,0,0,0
149978,149979,0,0.917635296,52,2,0.259496202,2500,4,0,0,0,0
149979,149980,1,0.224710924,55,0,0.057234801,8700,7,0,0,0,0
149980,149981,0,0.067643815,64,0,0.254976475,5525,12,0,1,0,0
149981,149982,0,0.810012257,43,0,0.121751825,6849,4,0,0,0,4
149982,149983,0,0.021046019,37,0,0.250271641,2760,8,0,0,0,3
149983,149984,0,0.002484811,82,0,0.00079984,5000,5,0,0,0,0
149984,149985,0,0.037548123,84,0,25,None,5,0,0,0,0
149985,149986,0,0.954409118,26,0,0.324961558,1950,4,0,0,0,0
149986,149987,0,0.168101659,49,0,0.080383923,5000,16,0,0,0,1
149987,149988,0,0.9999999,28,0,0.055692308,3249,3,1,0,0,0
149988,149989,0,0.902050553,31,1,0.347924428,7515,10,0,1,0,0
149989,149990,0,0.013355707,62,0,0.001407841,9233,4,0,0,0,3
149990,149991,0,0.055518163,46,0,0.609778598,4335,7,0,1,0,2
149991,149992,0,0.1041117,59,0,0.477658234,10316,10,0,2,0,0
149992,149993,0,0.871975945,50,0,4132,None,11,0,1,0,3
149993,149994,0,0.9999999,22,0,0,820,1,0,0,0,0
149994,149995,0,0.385742265,50,0,0.404292855,3400,7,0,0,0,0
149995,149996,0,0.040673864,74,0,0.22513089,2100,4,0,1,0,0
149996,149997,0,0.299745148,44,0,0.71656222,5584,4,0,1,0,2
149997,149998,0,0.246043918,58,0,3870,None,18,0,1,0,0
149998,149999,0,0,30,0,0,5716,4,0,0,0,0
149999,150000,0,0.850282951,64,0,0.249908077,8158,8,0,2,0,0

In [119]:
data.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- SeriousDlqin2yrs: string (nullable = true)
 |-- RevolvingUtilizationOfUnsecuredLines: string (nullable = true)
 |-- age: string (nullable = true)
 |-- NumberOfTime30-59DaysPastDueNotWorse: string (nullable = true)
 |-- DebtRatio: string (nullable = true)
 |-- MonthlyIncome: string (nullable = true)
 |-- NumberOfOpenCreditLinesAndLoans: string (nullable = true)
 |-- NumberOfTimes90DaysLate: string (nullable = true)
 |-- NumberRealEstateLoansOrLines: string (nullable = true)
 |-- NumberOfTime60-89DaysPastDueNotWorse: string (nullable = true)
 |-- NumberOfDependents: string (nullable = true)

In [120]:

data_rename = data.select(data.columns[1:12]).withColumnRenamed("SeriousDlqin2yrs",'Label')
data_rename = data_rename.select(data_rename.columns[0:11]).withColumnRenamed("RevolvingUtilizationOfUnsecuredLines",'RevolvingRatio')
data_rename = data_rename.select(data_rename.columns[0:11]).withColumnRenamed("age",'Age')
data_rename = data_rename.select(data_rename.columns[0:11]).withColumnRenamed("NumberOfTime30-59DaysPastDueNotWorse",'30-59D')
data_rename = data_rename.select(data_rename.columns[0:11]).withColumnRenamed("DebtRatio",'DebtRatio')
data_rename = data_rename.select(data_rename.columns[0:11]).withColumnRenamed("MonthlyIncome",'MonthlyIncome')
data_rename = data_rename.select(data_rename.columns[0:11]).withColumnRenamed("NumberOfOpenCreditLinesAndLoans",'OpenL')
data_rename = data_rename.select(data_rename.columns[0:11]).withColumnRenamed("NumberRealEstateLoansOrLines",'RealEstate')
data_rename = data_rename.select(data_rename.columns[0:11]).withColumnRenamed("NumberOfTime60-89DaysPastDueNotWorse",'60-89D')
data_rename = data_rename.select(data_rename.columns[0:11]).withColumnRenamed("NumberOfDependents",'Dependents')
data_rename.printSchema()

root
 |-- Label: string (nullable = true)
 |-- RevolvingRatio: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- 30-59D: string (nullable = true)
 |-- DebtRatio: string (nullable = true)
 |-- MonthlyIncome: string (nullable = true)
 |-- OpenL: string (nullable = true)
 |-- NumberOfTimes90DaysLate: string (nullable = true)
 |-- RealEstate: string (nullable = true)
 |-- 60-89D: string (nullable = true)
 |-- Dependents: string (nullable = true)

In [121]:
from pyspark.sql.functions import mean
mean_sales = data.select(mean(data['MonthlyIncome'])).collect()

In [122]:
data=data.withColumn("MonthlyIncome",data.MonthlyIncome.astype("double"))
mean_sales
mean_sales[0][0]
mean_sales_val = mean_sales[0][0]
print(mean_sales_val)
data = data.na.fill(mean_sales_val, subset=['MonthlyIncome'])
data.agg(*[(1-(fn.count(c) /fn.count('*'))).alias(c+'_missing') for c in data.columns]).show()

6670.221237392844
+-----------+------------------------+--------------------------------------------+-----------+--------------------------------------------+-----------------+---------------------+---------------------------------------+-------------------------------+------------------------------------+--------------------------------------------+--------------------------+
|_c0_missing|SeriousDlqin2yrs_missing|RevolvingUtilizationOfUnsecuredLines_missing|age_missing|NumberOfTime30-59DaysPastDueNotWorse_missing|DebtRatio_missing|MonthlyIncome_missing|NumberOfOpenCreditLinesAndLoans_missing|NumberOfTimes90DaysLate_missing|NumberRealEstateLoansOrLines_missing|NumberOfTime60-89DaysPastDueNotWorse_missing|NumberOfDependents_missing|
+-----------+------------------------+--------------------------------------------+-----------+--------------------------------------------+-----------------+---------------------+---------------------------------------+-------------------------------+------------------------------------+--------------------------------------------+--------------------------+
|        0.0|                     0.0|                                         0.0|        0.0|                                         0.0|              0.0|                  0.0|                                    0.0|                            0.0|                                 0.0|                                         0.0|       0.02615999999999996|
+-----------+------------------------+--------------------------------------------+-----------+--------------------------------------------+-----------------+---------------------+---------------------------------------+-------------------------------+------------------------------------+--------------------------------------------+--------------------------+

In [123]:
mean_sales = data.select(mean(data['NumberOfDependents'])).collect()
mean_sales

[Row(avg(NumberOfDependents)=0.7572222678605657)]

In [124]:
data=data.withColumn("NumberOfDependents",data.NumberOfDependents.astype("double"))
mean_sales
mean_sales[0][0]
mean_sales_val = mean_sales[0][0]
print(mean_sales_val)
data = data.na.fill(mean_sales_val, subset=['NumberOfDependents'])
data.agg(*[(1-(fn.count(c) /fn.count('*'))).alias(c+'_missing') for c in data.columns]).show()

0.7572222678605657
+-----------+------------------------+--------------------------------------------+-----------+--------------------------------------------+-----------------+---------------------+---------------------------------------+-------------------------------+------------------------------------+--------------------------------------------+--------------------------+
|_c0_missing|SeriousDlqin2yrs_missing|RevolvingUtilizationOfUnsecuredLines_missing|age_missing|NumberOfTime30-59DaysPastDueNotWorse_missing|DebtRatio_missing|MonthlyIncome_missing|NumberOfOpenCreditLinesAndLoans_missing|NumberOfTimes90DaysLate_missing|NumberRealEstateLoansOrLines_missing|NumberOfTime60-89DaysPastDueNotWorse_missing|NumberOfDependents_missing|
+-----------+------------------------+--------------------------------------------+-----------+--------------------------------------------+-----------------+---------------------+---------------------------------------+-------------------------------+------------------------------------+--------------------------------------------+--------------------------+
|        0.0|                     0.0|                                         0.0|        0.0|                                         0.0|              0.0|                  0.0|                                    0.0|                            0.0|                                 0.0|                                         0.0|                       0.0|
+-----------+------------------------+--------------------------------------------+-----------+--------------------------------------------+-----------------+---------------------+---------------------------------------+-------------------------------+------------------------------------+--------------------------------------------+--------------------------+

In [125]:
data=data.withColumn("MonthlyIncome",data.MonthlyIncome.astype("double"))

In [126]:

data_rename = data.select(data.columns[1:12]).withColumnRenamed("SeriousDlqin2yrs",'Label')
data_rename = data_rename.select(data_rename.columns[0:11]).withColumnRenamed("RevolvingUtilizationOfUnsecuredLines",'RevolvingRatio')
data_rename = data_rename.select(data_rename.columns[0:11]).withColumnRenamed("age",'Age')
data_rename = data_rename.select(data_rename.columns[0:11]).withColumnRenamed("NumberOfTime30-59DaysPastDueNotWorse",'30-59D')
data_rename = data_rename.select(data_rename.columns[0:11]).withColumnRenamed("DebtRatio",'DebtRatio')
data_rename = data_rename.select(data_rename.columns[0:11]).withColumnRenamed("MonthlyIncome",'MonthlyIncome')
data_rename = data_rename.select(data_rename.columns[0:11]).withColumnRenamed("NumberOfOpenCreditLinesAndLoans",'OpenL')
data_rename = data_rename.select(data_rename.columns[0:11]).withColumnRenamed("NumberRealEstateLoansOrLines",'RealEstate')
data_rename = data_rename.select(data_rename.columns[0:11]).withColumnRenamed("NumberOfTime60-89DaysPastDueNotWorse",'60-89D')
data_rename = data_rename.select(data_rename.columns[0:11]).withColumnRenamed("NumberOfDependents",'Dependents')
data_rename.printSchema()

root
 |-- Label: string (nullable = true)
 |-- RevolvingRatio: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- 30-59D: string (nullable = true)
 |-- DebtRatio: string (nullable = true)
 |-- MonthlyIncome: double (nullable = false)
 |-- OpenL: string (nullable = true)
 |-- NumberOfTimes90DaysLate: string (nullable = true)
 |-- RealEstate: string (nullable = true)
 |-- 60-89D: string (nullable = true)
 |-- Dependents: double (nullable = false)

In [127]:
data_rename.agg(*[(1-(fn.count(c) /fn.count('*'))).alias(c+'_missing') for c in data_rename.columns]).show()

+-------------+----------------------+-----------+--------------+-----------------+---------------------+-------------+-------------------------------+------------------+--------------+------------------+
|Label_missing|RevolvingRatio_missing|Age_missing|30-59D_missing|DebtRatio_missing|MonthlyIncome_missing|OpenL_missing|NumberOfTimes90DaysLate_missing|RealEstate_missing|60-89D_missing|Dependents_missing|
+-------------+----------------------+-----------+--------------+-----------------+---------------------+-------------+-------------------------------+------------------+--------------+------------------+
|          0.0|                   0.0|        0.0|           0.0|              0.0|                  0.0|          0.0|                            0.0|               0.0|           0.0|               0.0|
+-------------+----------------------+-----------+--------------+-----------------+---------------------+-------------+-------------------------------+------------------+--------------+------------------+

In [128]:

# tem = data['NumberOfDependents']>6000
# data.select(data['NumberOfDependents'])[tem].show()
ruuldf = data_rename.filter(data_rename['RevolvingRatio'] < 1).select('RevolvingRatio')
ruuldf_mean = ruuldf.select(mean(ruuldf['RevolvingRatio'])).collect()
ruuldf_mean
data_rename=data_rename.withColumn("RevolvingRatio",data_rename.RevolvingRatio.astype("double"))
ruuldf_mean_val = ruuldf_mean[0][0]
print(ruuldf_mean_val)
tem = data_rename.select(data_rename["RevolvingRatio"]>1)
print(data_rename.filter(data_rename['RevolvingRatio'] > 1).count())
#data_rename['RevolvingRatio']>1
#data_rename.select()

ruuldf = data_rename.filter(data_rename['DebtRatio'] < 1).select('DebtRatio')
ruuldf_mean = ruuldf.select(mean(ruuldf['DebtRatio'])).collect()
ruuldf_mean
data_rename=data_rename.withColumn("DebtRatio",data_rename.DebtRatio.astype("double"))
data_rename.printSchema()
ruuldf_mean_val = ruuldf_mean[0][0]
print(ruuldf_mean_val)
tem = data_rename.select(data_rename["DebtRatio"]>1)
print(data_rename.filter(data_rename['DebtRatio'] > 1).count())

0.30370085040563216
3321
root
 |-- Label: string (nullable = true)
 |-- RevolvingRatio: double (nullable = true)
 |-- Age: string (nullable = true)
 |-- 30-59D: string (nullable = true)
 |-- DebtRatio: double (nullable = true)
 |-- MonthlyIncome: double (nullable = false)
 |-- OpenL: string (nullable = true)
 |-- NumberOfTimes90DaysLate: string (nullable = true)
 |-- RealEstate: string (nullable = true)
 |-- 60-89D: string (nullable = true)
 |-- Dependents: double (nullable = false)

0.3016293900012304
35137

In [129]:
data_rename = data_rename.withColumn('RevolvingRatio', when(data_rename.RevolvingRatio <=1, data_rename.RevolvingRatio).otherwise(ruuldf_mean_val))
data_rename = data_rename.withColumn('DebtRatio', when(data_rename.RevolvingRatio <=1, data_rename.RevolvingRatio).otherwise(ruuldf_mean_val))
data_rename.filter(data_rename['DebtRatio'] > 1).select('DebtRatio','RevolvingRatio').show()
data_rename.printSchema()

+---------+--------------+
|DebtRatio|RevolvingRatio|
+---------+--------------+
+---------+--------------+

root
 |-- Label: string (nullable = true)
 |-- RevolvingRatio: double (nullable = true)
 |-- Age: string (nullable = true)
 |-- 30-59D: string (nullable = true)
 |-- DebtRatio: double (nullable = true)
 |-- MonthlyIncome: double (nullable = false)
 |-- OpenL: string (nullable = true)
 |-- NumberOfTimes90DaysLate: string (nullable = true)
 |-- RealEstate: string (nullable = true)
 |-- 60-89D: string (nullable = true)
 |-- Dependents: double (nullable = false)

In [130]:
data_rename.printSchema()

root
 |-- Label: string (nullable = true)
 |-- RevolvingRatio: double (nullable = true)
 |-- Age: string (nullable = true)
 |-- 30-59D: string (nullable = true)
 |-- DebtRatio: double (nullable = true)
 |-- MonthlyIncome: double (nullable = false)
 |-- OpenL: string (nullable = true)
 |-- NumberOfTimes90DaysLate: string (nullable = true)
 |-- RealEstate: string (nullable = true)
 |-- 60-89D: string (nullable = true)
 |-- Dependents: double (nullable = false)

In [131]:
data_rename.agg(*[(1-(fn.count(c) /fn.count('*'))).alias(c+'_missing') for c in data_rename.columns]).show()
data_rename.printSchema()
data_rename.select("Dependents").show()

+-------------+----------------------+-----------+--------------+-----------------+---------------------+-------------+-------------------------------+------------------+--------------+------------------+
|Label_missing|RevolvingRatio_missing|Age_missing|30-59D_missing|DebtRatio_missing|MonthlyIncome_missing|OpenL_missing|NumberOfTimes90DaysLate_missing|RealEstate_missing|60-89D_missing|Dependents_missing|
+-------------+----------------------+-----------+--------------+-----------------+---------------------+-------------+-------------------------------+------------------+--------------+------------------+
|          0.0|                   0.0|        0.0|           0.0|              0.0|                  0.0|          0.0|                            0.0|               0.0|           0.0|               0.0|
+-------------+----------------------+-----------+--------------+-----------------+---------------------+-------------+-------------------------------+------------------+--------------+------------------+

root
 |-- Label: string (nullable = true)
 |-- RevolvingRatio: double (nullable = true)
 |-- Age: string (nullable = true)
 |-- 30-59D: string (nullable = true)
 |-- DebtRatio: double (nullable = true)
 |-- MonthlyIncome: double (nullable = false)
 |-- OpenL: string (nullable = true)
 |-- NumberOfTimes90DaysLate: string (nullable = true)
 |-- RealEstate: string (nullable = true)
 |-- 60-89D: string (nullable = true)
 |-- Dependents: double (nullable = false)

+------------------+
|        Dependents|
+------------------+
|               2.0|
|               1.0|
|               0.0|
|               0.0|
|               0.0|
|               1.0|
|               0.0|
|               0.0|
|0.7572222678605657|
|               2.0|
|               0.0|
|               2.0|
|               2.0|
|               2.0|
|               0.0|
|               2.0|
|               0.0|
|               0.0|
|               2.0|
|               0.0|
+------------------+
only showing top 20 rows

In [132]:
data_rename = data_rename.withColumn('IncAvg',data_rename['MonthlyIncome']/(data_rename['Dependents']+1))
data_rename = data_rename.withColumn('MonthlyDept',data_rename['MonthlyIncome']*data_rename['DebtRatio'])
data_rename = data_rename.withColumn('DeptAvg',data_rename['MonthlyDept']/(data_rename['Dependents']+1))
data_rename.select("IncAvg","MonthlyDept","DeptAvg").show()

+------------------+------------------+------------------+
|            IncAvg|       MonthlyDept|           DeptAvg|
+------------------+------------------+------------------+
|            3040.0|     6987.07467408|     2329.02489136|
|            1300.0|      2488.5926494|      1244.2963247|
|            3042.0|2002.1839858800001|2002.1839858800001|
|            3300.0|       771.5722608|       771.5722608|
|           63588.0|     57689.5389672|     57689.5389672|
|            1750.0|        746.125387|       373.0626935|
| 6670.221237392844| 2038.969669941595| 2038.969669941595|
|            3500.0|       2640.622768|       2640.622768|
|3795.8893188360853|   780.08666933557| 443.9317003906015|
| 7894.666666666667|    4480.279827568|1493.4266091893332|
|            2500.0|1610.5649050000002|1610.5649050000002|
|            2167.0|      122.20657812|       40.73552604|
| 4151.333333333333|     128.922027078|42.974009026000004|
| 4566.666666666667|     13216.0140035| 4405.338001166667|
|               0.0|               0.0|               0.0|
|3787.3333333333335|    6231.580500444|    2077.193500148|
| 6670.221237392844| 407.4579215934853| 407.4579215934853|
|            8800.0|      1463.2998952|      1463.2998952|
|1093.3333333333333|      727.54588888|242.51529629333334|
|             333.0|     200.730538863|     200.730538863|
+------------------+------------------+------------------+
only showing top 20 rows

import seaborn as sns

In [ ]:
data_pt = data_rename.toPandas()
data_pt.head(3)

In [ ]:
data_new = spark.read.load('pandas_new.csv',format = "csv", inferSchema=True,header = "true")
data_new.printSchema()

In [ ]:
data = data_new.select('Label', '90D', 'RevolvingRatio', '30-59D', '60-89D', 'Age')
data.show()

In [ ]:
data.printSchema()
data=data.withColumn("Label",data.Label.astype("double"))
data=data.withColumn("90D",data["90D"].astype("double"))
data=data.withColumn("30-59D",data["30-59D"].astype("double"))
data=data.withColumn("60-89D",data["60-89D"].astype("double"))
data=data.withColumn("Age",data.Age.astype("double"))
data=data.withColumn("RevolvingRatio",data.RevolvingRatio.astype("double"))
data.printSchema()

In [ ]:
from pyspark.ml import Pipeline
from pyspark.ml.classification import (RandomForestClassifier, GBTClassifier, DecisionTreeClassifier)
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
from pyspark.ml.linalg import Vectors
from pyspark.ml.feature import VectorAssembler
import findspark

In [ ]:
assembler = VectorAssembler(
  inputCols=['90D',
             'RevolvingRatio',
             '30-59D',
             '60-89D',
             'Age'],
              outputCol="features")

In [ ]:
output = assembler.transform(data)

In [ ]:
from pyspark.ml.feature import StringIndexer

In [ ]:
indexer = StringIndexer(inputCol="Label", outputCol="LabelIndex")
output_fixed = indexer.fit(output).transform(output)

In [ ]:
final_data = output_fixed.select("features",'LabelIndex')
train_data,test_data = final_data.randomSplit([0.7,0.3])

In [ ]:
dtc = DecisionTreeClassifier(labelCol='LabelIndex',featuresCol='features')
dtc_model = dtc.fit(train_data)

In [ ]:
dtc_predictions = dtc_model.transform(test_data)

In [ ]:
from pyspark.ml.evaluation import BinaryClassificationEvaluator
my_binary_eval = BinaryClassificationEvaluator(labelCol = 'LabelIndex')

In [ ]:
print("DTC")
print(my_binary_eval.evaluate(dtc_predictions))

In [ ]:
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
acc_evaluator = MulticlassClassificationEvaluator(labelCol="LabelIndex", predictionCol="prediction", metricName="accuracy")

In [ ]:
dtc_acc = acc_evaluator.evaluate(dtc_predictions)

In [ ]:
print("Here are the results!")
print('-'*40)
print('A single decision tree has an accuracy of: {0:2.2f}%'.format(dtc_acc*100))

In [ ]:
from pyspark.ml.classification import LogisticRegression
from pyspark.ml.feature import (VectorAssembler,VectorIndexer,
                                OneHotEncoder,StringIndexer)

In [ ]:
assembler = VectorAssembler(
  inputCols=['90D',
             'RevolvingRatio',
             '30-59D',
             '60-89D',
             'Age'],
              outputCol="features")

In [ ]:
from pyspark.ml.classification import LogisticRegression
from pyspark.ml import Pipeline

In [ ]:
log_reg_titanic = LogisticRegression(featuresCol='features',labelCol='Label')

In [ ]:
pipeline = Pipeline(stages=[
                           assembler,log_reg_titanic])

In [ ]:
train_titanic_data, test_titanic_data = data.randomSplit([0.7,.3])

In [ ]:
fit_model = pipeline.fit(train_titanic_data)

In [ ]:
results = fit_model.transform(test_titanic_data)

In [ ]:
from pyspark.ml.evaluation import BinaryClassificationEvaluator

my_eval = BinaryClassificationEvaluator(rawPredictionCol='prediction',
                                       labelCol='Label')

In [ ]:
results.select('Label','prediction').show()
AUC = my_eval.evaluate(results)
AUC

In [ ]:
totalResults = results.select('Label','prediction')

correctResults = totalResults.filter(totalResults['Label'] == totalResults['prediction'])

countTR = totalResults.count()
print("Correct: " + str(countTR))

countTC = correctResults.count()
print("Total Correct: " + str(countTC))